@mixin input() {
  input[type='text'],
  input[type='password'],
  input[type='email'],
  input:-internal-autofill-selected {
    background-color: transparent;
    min-height: 56px;
    padding: 0 16px;
    caret-color: var(--color-text-high-emphasis);
    color: var(--color-text-high-emphasis);
    font-family: var(--typography-font-family);
    font-size: 15px;
    border-radius: var(--shape-small);
    border: none;
    outline: 1px solid var(--color-outline);
    transition: outline .2s ease-in-out;
  
    &:focus,
    &:focus-visible {
      caret-color: var(--color-primary);
      outline: 2px solid var(--color-primary);
    }

    &:hover:not(:focus-within) {
      outline: 1px solid var(--color-text-medium-emphasis);
    }
  
    // &:focus-visible::placeholder {
    //   color: transparent;
    // }
  
    &::placeholder {
      color: var(--color-text-medium-emphasis);
    }
  }
}