:host {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "image title"
    "image actions";
  column-gap: 40px;
  margin: 64px 0 32px 0;
}

.gachi-playlist-details-header-image {
  grid-area: image;
  object-fit: cover;
  border-radius: var(--shape-medium);
}

.gachi-playlist-details-header-title {
  grid-area: title;
  max-width: 720px;

  h1 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.gachi-playlist-details-header-actions {
  display: flex;
  gap: 16px;
  grid-area: actions;
}
