<img
  alt=""
  class="gachi-playlist-details-header-image"
  height="256"
  src="https://api.gachify.club/media/e6fc5a17-c7b9-402e-9307-5d7dc8f79dc2.png"
  width="256"
/>

<div class="gachi-playlist-details-header-title">
  <span class="label-m">Playlist</span>

  <h1 class="display-m">mymusic</h1>

  <span class="label-l">69 remixes · 300 minutes</span>
</div>

<div class="gachi-playlist-details-header-actions">
  <button class="icon primary">
    <i>play_arrow</i>
  </button>

  <button class="outlined">
    <i>shuffle</i>
    Shuffle
  </button>
</div>
