<div class="gachi-visualizer-queue-container">
  <span class="label-l secondary-text">Playing from</span>
  <h2
    [selector]="selectors.queueTitleLabel"
    class="title-m"
  >
    {{ queue().source.name }}
  </h2>

  <div
    [selector]="selectors.queueContainer"
    class="gachi-visualizer-queue-container-remixes"
  >
    @for (remix of queue().remixes; track remix.id) {
      <gachi-remix-card
        [attr.id]="remix.id"
        [queue]="queue()"
        [remix]="remix"
      />
    }
  </div>
</div>
